<h1>Here are our rental requests!</h1>

<table>
  <tr>
    <td>Cat ID</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>
<% @requests.each do |request| %>
  <tr>
    <td><%= request.cat_id %></td>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <td><%= request.status %></td>
  </tr>
<% end %>
</table>
