<h1>Here is this cat's rental requests!</h1>

<table>
  <tr>
    <td>Cat ID</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>

  <tr>
    <td><%= @request.cat_id %></td>
    <td><%= @request.start_date %></td>
    <td><%= @request.end_date %></td>
    <td><%= @request.status %></td>
  </tr>
</table>
